.myInput {
    border: 1px solid #999999;
    padding: 20px;
    width: 15rem;
    outline: none;
    border-radius: 5px;
}

.dropdown {
    border: 1px solid #999999;
    padding: 20px;
    width: 15rem;
    border-radius: 5px;
}

.item {
    display: flex;
    gap: 50px;
    padding-bottom: 20px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.text textarea {
    width: 33rem;
    height: 10rem;
    padding: 20px;
    border-radius: 5px;
}

.btn {
    background-color: #1A76D1;
    width: 13rem;
    height: 3rem;
    border-radius: 5px;
    padding: 10px;
    border: none;
    color: white;
    cursor: pointer;
}

.formSection {
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}

.container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.container p {
    color: #888897;
}

.formSection form {
    padding-top: 50px;
}