.section {
    padding-top: 300px;
    z-index: 50;
}

.card {
    background-color: #1A76D1;
    width: 25rem;
    color: white;
    padding: 30px;
    border-radius: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}
.card p {
    font-size: 15px;
}

.card h2 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.arrow {
    display: flex;
    gap: 150px;
    padding-top: 30px;
}
.arrowSection {
    display: flex;
    gap: 20px;
    padding-top: 20px;
    cursor: pointer;
}
.arrowSection:hover {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}
.caseSection {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.icon {
    font-size: 60px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 1px 14px 19px -2px rgba(26,118,209,0.76);
    cursor: pointer;
}
